.container {
  width: 90%;
  margin: 10px auto;
}
.createBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px auto;
}
.input {
  margin: 5px auto;
}
.searchNote {
  display: flex;
}
